<div class="w-full">
  <%= render 'notice' %>
  <h1 class="font-bold text-2xl mb-6 pb-2 my-5">The Pragmatic Collection</h1>
  <%= turbo_stream_from "products" %>
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
          <%= render "product", product: product %>
        <% end %>
    <% end %>
  <% end %>
</div>
